:root {
  /* THEME HEXCODES */

  --primary-background-image: linear-gradient(
    to right top,
    #fbeec1,
    #c4dfb6,
    #91cdba,
    #6cb7c0,
    #659dbd
  );
  --card-bacground-color: #ffffff;
  --card-background-image: url("../assets/img/cardBackground.svg");

  --primary-red: rgb(199, 43, 43);
  --primary-light-color: #f4fbff;
  --primary-dark-color: #2a4e63;
}

* {
  font-family: "Pacifico", cursive;
}

body {
  background-image: var(--primary-background-image);
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 40vh;
}
