.board-body,
.board-header,
.header {
  display: flex;
  justify-content: space-between;
  line-height: 1vh;
  padding-bottom: 3vh;
}

.board {
  padding-top: 10vh;
}

/* Header Css Start */
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 95vw;
  margin-left: 2vw;
}

.title {
  color: var(--primary-dark-color);
  font-size: 5vh;
  text-shadow: 0.5vh 0.5vh var(--primary-light-color);
}

.header-items {
  display: flex;
  gap: 1vh;
}

.header-item {
  background-color: var(--primary-light-color);
  border: 0.5vh solid var(--primary-dark-color);
  border-radius: 2vh;
  width: 10vw;
  line-height: 4vh;
  align-self: center;
  font-size: 2.5vh;
  text-align: center;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0vh -0.1vh 1vh var(--primary-dark-color);
}

.header-item > img {
  width: 1.5vw;
  height: 1.5vw;
}

.custom-button {
  cursor: pointer;
}
/* Header Css End */

/* Board Css Start */
.undistributed-deck {
  display: flex;
  justify-content: flex-start;
  height: 23vh;
}

.complated-decks {
  display: flex;
  gap: 1vw;
}
/* Board Css End */
